{% extends "registrasion/base.html" %}
{% load pyconau2017_tags %}

{% block header_title %}Buy Your Ticket{% endblock %}
{% block header_paragraph %}Step {{ current_step }} of {{ total_steps|add:1 }} &ndash; {{ title }} {% endblock %}

{% block scripts_extra %}
  {% for section in sections %}
    {{ section.form.media.js }}
  {% endfor %}
{% endblock %}

{% block content %}

  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}

    {% for section in sections %}
      <h2>{{ section.title }}</h2>

      {% if section.description %}
        <blockquote>{{ section.description|safe }}</blockquote>
      {% endif %}

      <fieldset>

        {% if section.discounts %}
          {% include "registrasion/discount_list.html" with discounts=section.discounts %}

          <blockquote><small>
            You must select a product to receive any discounts.<br/>
            Applicable discounts will be applied automatically when you check out.
          </small></blockquote>

          <hr />

        {% endif %}

        <h3>Available options</h3>

        {% include "_form_snippet.html" with form=section.form %}
      </fieldset>

      <br />
    {% endfor %}

    <div class="btn-group">
      <input class="btn btn-primary" type="submit" value="Next Step" />
    </div>
  </form>


{% endblock %}
