{% extends "site_base.html" %}
{% load bootstrap %}
{% load registrasion_tags %}

{% block body %}

  <h2>{{ title }}</h2>

  <p><a href="{% url 'reports_list' %}">Return to reports list</a></p>

  {% if form %}
    <form class="form-horizontal" method="GET">
      {{ form | bootstrap}}
      <br/>
      <input class="btn btn-primary" type="submit">
    </form>
  {% endif %}
<hr />

{% for report in reports %}
  <h3>{{ report.title }}</h3>
  <table class="table table-striped">
    <tr>
      {% for heading in report.headings %}
        <th>{{ heading }}</th>
      {% endfor %}
    </tr>
    {% for line in report.rows %}
      <tr>
        {% for item in line %}
          <td>
            {{ item|safe }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endfor %}

{% endblock %}
