{% extends "site_base.html" %}
{% load registrasion_tags %}
{% block body %}

<h2>Registration reports</h2>

<table class="table table-striped">
  {% for report in reports %}
    <tr>
      <td>
        <a href="{{ report.url }}">{{ report.name }}</a>
      </td>
      <td>
        {{ report.description }}
      </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
