<div class="col-xs-12 col-sm-6 col-lg-6">
  {% if proposal.result.status == "accepted" %}
    <div class="panel panel-success">
  {% elif proposal.result.status == "rejected" %}
    <div class="panel panel-danger">
  {% elif proposal.result.status == "standby" %}
    <div class="panel panel-warning">
  {% else %}
    <div class="panel panel-primary">
  {% endif %}
    <div class="panel-heading">
      <h5>{{ proposal.title }}</h5>
    </div>
    <div class="panel-body">
      <ul>
        <li><strong>Type:</strong> {{ proposal.kind.name }}</li>
        <li>
          <strong>Status:</strong>
          {% if proposal.cancelled %}
            <span class="label label-danger">Cancelled</span>
          {% else %}
            {% if request.user == proposal.speaker.user %}
              {% if proposal.result.status == "accepted" %}
                <span class="label label-success">Accepted</span>
              {% elif proposal.result.status == "rejected" %}
                <span class="label label-danger">Rejected</span>
              {% elif proposal.result.status == "standby" %}
                <span class="label label-warning">Standby</span>
              {% else %}
                <span class="label label-default">Submitted</span>
              {% endif %}
            {% else %}
              <span class="label label-default">Associated</span>
            {% endif %}
          {% endif %}
        </li>
      </ul>
      <div>
        <a class="btn btn-lg btn-success" role="button" href="{% url "proposal_detail" proposal.pk %}">View Details</a>
        {% if not proposal.cancelled %}
          {% if request.user == proposal.speaker.user and proposal.can_edit %}
            <a class="btn btn-lg btn-success" role="button" href="{% url "proposal_edit" proposal.pk %}">Edit</a>
            <a class="btn btn-lg btn-success" role="button" href="{% url "proposal_speaker_manage" proposal.id %}">Manage Additional Speakers</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
