{% extends "symposion/proposals/base.html" %}

{% block page_title %}Upload Document to '{{ proposal.title }}'{% endblock %}

{% block proposals_body %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" class="form form-horizontal">
        {% csrf_token %}
        <fieldset>
          {% include "_form_snippet.html" with form=form %}
          <div class="btn-group">
              <input class="btn btn-primary" type="submit" value="Upload" />
          </div>
        </fieldset>
    </form>
{% endblock %}
