{% load pyconau2017_tags %}
<table class="calendar table table-bordered">
  <thead>
    <tr>
      <th class="time">&nbsp;</th>
        {% for room in timetable.rooms %}
          <th>{{ room.name }}</th>
          {% endfor %}
    </tr>
    <tr>
      <th class="time">&nbsp;</th>
        {% for room in timetable.rooms %}
          {% with room|trackname:timetable.day as track_name %}
          <th class="track-name">{% if track_name %}<p>{{ track_name }}{% endif %}</th>
	  {% endwith %}
        {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in timetable %}
      <tr>
        <td class="time"><h4>{{ row.time|date:"h:iA" }}</h4></td>
        {% for slot in row.slots %}
          <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
            {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" %}
              {% if not slot.content %}
              {% else %}
                <span class="title">
                  <a href="{% url "schedule_presentation_detail" slot.content.pk %}">{{ slot.content.title }}</a>
                </span>
                <span class="speaker">
                  {{ slot.content.speakers|join:", " }}
                </span>
                <span class="room">
                  {{ slot.rooms|join:", "}}
                </span>
              {% endif %}
            {% elif slot.kind.label == "shortbreak" %}
            {% else %}
              {% if slot.content_override %}
                {{ slot.content_override_html|safe }}
              {% else %}
                {{ slot.kind.label }}
              {% endif %}
            {% endif %}
          </td>
        {% endfor %}
        {% if forloop.last %}
          <td colspan="{{ timetable.rooms|length }}"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
