{% extends "symposion/schedule/public_base.html" %}

{% load pyconau2017_tags %}
{% load sitetree %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Presentation: {{ presentation.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block header_inset_image %}{% with audience=presentation.proposal.get_target_audience_display %}{% if audience == "Business" %}{% illustration "falls.svg" %}{% elif audience == "Community" %}{% illustration "bridge.svg" %}{% elif audience == "Developer"%}{% illustration "hobart.svg" %}{% elif audience == "User" %}{% illustration "antarctica.svg" %}{% else %}{% illustration "casino.svg" %}{% endif %}{% endwith %}{% endblock %}

{% block header_background_image %}{% presentation_bg_number presentation 4 as bg_number %}{% if bg_number == 0 %}{% static "pyconau2017/images/mt_anne_bg_optimised.jpg" %}{% elif bg_number == 1 %}{% static "pyconau2017/images/the_neck_bg_optimised.jpg" %}{% elif bg_number == 2 %}{% static "pyconau2017/images/snug_falls_bg_optimised.jpg" %}{% elif bg_number == 3 %}{% static "pyconau2017/images/sleepy_bay_bg_optimised.jpg" %}{% endif %}{% endblock %}

{% block header_title %}{{ presentation.title }}{% endblock %}

{% block header_paragraph %}
  <p>
    Presented by
    {% for speaker in presentation.speakers %}
      <a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  <br />
  {% if presentation.slot %}
    {{ presentation.slot.day.date|date:"l" }}
    {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
    <br />
  {% endif %}
  {% if presentation.proposal.get_target_audience_display %}
    <strong>Target audience:</strong>
    {{ presentation.proposal.get_target_audience_display }}
  {% endif %}
{% endblock %}

{% block content %}

  {% if presentation.unpublish %}
    <p><strong>Presentation not published.</strong></p>
  {% endif %}

  <h2>Abstract</h2>

  <div class="abstract">{{ presentation.abstract_html|safe }}</div>

  <h2>Presented by</h2>
  {% for speaker in presentation.speakers %}
    {% speaker_photo speaker 512 as speaker_photo_url %}
    {% include "_right_floating_image.html" with image_url=speaker_photo_url %}

    <h3><a href="{% url "speaker_profile" speaker.pk %}">{{ speaker }}</a></h3>

    {% if speaker.homepage or speaker.twitter_username %}
      <p><div class="btn-group">
        {% if speaker.homepage %}
          <a href="{{ speaker.homepage}}" class="btn-svg" title="Homepage">
            {% include "cms_pages/home_page_blocks/btn_generic_link.html" %}
          </a>
        {% endif %}
        {% if speaker.twitter_username %}
          <a href="https://twitter.com/{{ speaker.twitter_username }}" class="btn-svg" title="{{ speaker}} on twitter">
            {% include "cms_pages/home_page_blocks/btn_twitter.html" %}
          </a>
        {% endif %}
      </div></p>
    {% endif %}



    {{ speaker.biography_html|safe}}

  {% endfor %}

{% endblock %}
