{% extends "symposion/speakers/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Speaker Profile" %}{% endblock %}
{% block page_title %}{% trans "Edit Speaker Profile" %}{% endblock %}

{% block proposals_body %}
    <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          {% include "_form_snippet.html" with form=speaker_form %}
          <div class="btn-group">
              <input class="btn btn-primary" type="submit" value="Save" />
              <a class="btn btn-default" href="{% url "dashboard" %}">Cancel</a>
          </div>
        </fieldset>
    </form>
{% endblock %}
