{% load pyconau2017_tags %}
{% load bootstrap %}

{% if form.non_field_errors %}
  <div class="has-errors">
    {{ form.non_field_errors }}
  </div>
  <br/>
{% endif %}

<blockquote>
  Fields marked with <strong>*</strong> are required.
</blockquote>

{{ form|bootstrap_horizontal }}
