{% load staticfiles %}
{% load i18n %}
{% load sitetree %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

    {% block styles %}
      <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'css/app.css' %}" rel="stylesheet">

      <link rel="icon" href="{% static 'pyconau2017/images/favicon.png' %}">
    {% block extra_style %}{% endblock %}
    {% endblock %}

    {% block extra_head_base %}
      {% block extra_head %}{% endblock %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="container">
      {% sitetree_menu from "main" include "trunk" template "sitetree_header.html" %}

      <div class="well">
        <h1>{% block header_title %}{% endblock %}</h1>
        <p>{% block header_paragraph %}{% endblock %}</p>
      </div>
      {% block body_base %}
        {% block body %}
          <div class="container">
            <div class="row">
              <div class="col-md-1">
                {% block body_outer %}
                {% endblock %}
                </div>
                <div class="col-md-10" >
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            </div>
          {% endblock %}
        {% endblock %}

        {% block footer_base %}
          {% block footer %}
          {% endblock %}
        {% endblock %}

        {% block scripts %}
          <script src="{{ STATIC_URL }}/js/app.js" type="text/javascript"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
          <script src="{{ STATIC_URL }}/js/bootstrap.min.js" type="text/javascript"></script>
          <script src="{{ STATIC_URL }}/js/jquery.formset.js"></script>
        {% block scripts_extra %}{% endblock %}
      {% endblock %}

      <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css'>
      {% block extra_body_base %}
        {% block extra_body %}
        {% endblock %}
      {% endblock %}
    </div>
  </body>
</html>
